@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&family=Karla:ital,wght@0,200..800;1,200..800&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --color-lightGreen:  hsl(148, 38%, 91%);
  --color-greenDeep:  hsl(169, 82%, 27%);
  --color-redDeep:  hsl(0, 66%, 54%);

  --color-white:  hsl(0, 0%, 100%);
  --color-grayMed: hsl(186, 15%, 59%);
  --color-grayDep: hsl(187, 24%, 22%);

  --font-sans: "Karla", monospace;
}

.error-border {
    border: 1px solid hsl(0, 66%, 54%);
}